// basic colors
$black: #000;
$white: #FFF;

// for backgrounds, borders and text
$white-smoke: #f5f5f5;
$very-light-grey: #EEE;
$light-grey: #D3D3D3;
$very-dark-grey: #333;

// for clickable items and panels
$very-dark-blue: #1F4C7B;
$dark-blue: #205081;
$blue: #36618D;

// taken from bootstrap (primary, success etc.)
$green: #5CB85C;
$dark-green: #449D44;
$orange: #f0ad4e;
$dark-orange: #ec971f;
$red: #d9534f;
$dark-red: #c9302c;
$very-light-blue: #5BC0DE;
$light-blue: #31b0d5;
